<div class="page-container">

  <div class="search-wrapper">
    <input [(ngModel)]="search" placeholder="Buscar..." class="search-input" />
  </div>

  <div class="product-list">
    <div *ngFor="let p of products | filter: search" class="product-card">

      <div class="product-card__item product-card__name">
        <b>{{ p.name }}</b>
      </div>

      <div class="product-card__item product-card__stock">
        Stock:
        <span class="stock-badge" [ngClass]="p.stock | stockClass">
          {{ p.stock }}
        </span>
      </div>

      <div class="product-card__item product-card__price">
        {{ p.price | currency: 'MZN' }}
      </div>

    </div>
  </div>
  
</div>